# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE and editor files
.idea/
*.sublime-workspace
*.sublime-project
.ropeproject
.spyderproject
.spyproject
*.code-workspace
.vscode/

# Documentation
docs/build/
docs/source/generated/
/site

# macOS
.DS_Store

# Windows
[Tt]humbs.db
[Dd]esktop.ini

# Python specific
*.py[cod]
*$py.class
__pypackages__/
*.manifest
*.spec
*.mo
*.pot

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# PyInstaller
*.manifest
*.spec

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Profiling
/prof/
*.prof

# Test data
/tests/*.json
.aider*
