[MASTER]

ignore=docs, __pycache__, .venv
disable=
	cyclic-import,
	fixme,
	logging-format-interpolation,
	missing-module-docstring,
	no-member,
	too-few-public-methods,
	too-many-arguments
	

[FORMAT]

max-line-length=88
